.header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .header input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }